table {
  width: 100%;
}

.mat-elevation-z8 {
  margin: 10px;
}

.spinner-container {
  padding: 10px;
}

//.mat-row {
//  height: auto;
//}
//
//.mat-cell {
//  padding: 0 10px 0 10px;
//}
//
//.mat-header-cell {
//  padding: 0 10px 0 10px;
//}
