html, body {
  height: 100%;
}

body {
  margin: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spinner-container {
  padding: 10px;
}

.mat-elevation-z8 {
  margin: 10px;
}

table {
  width: 100%;
}

.mat-row:hover {
  background: rgba(0, 0, 0, .04);
}

