<h2>All Heroes</h2>
<!--<div class="spinner-container" *ngIf="dataSource.loading$ | async">-->
<!--  <mat-spinner></mat-spinner>-->
<!--</div>-->
<div>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="image" sticky>
      <th *matHeaderCellDef mat-header-cell>Image</th>
      <td *matCellDef="let hero" mat-cell routerLink="/detail/{{hero.scryfallId}}">
        <img [src]="hero.smallImageUri" class="mr-2" style="width: 50px">
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell>Type</th>
      <td *matCellDef="let hero" mat-cell routerLink="/detail/{{hero.scryfallId}}">{{hero.typeLine}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let hero" mat-cell routerLink="/detail/{{hero.scryfallId}}">{{hero.name}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let hero" mat-cell routerLink="/detail/{{hero.scryfallId}}">{{hero.scryfallId}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky : true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 100, 200]">
    <!--               showFirstLastButtons>-->
  </mat-paginator>
</div>
<!--<div>-->
<!--</div>-->


<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--  <th scope="col">Image</th>-->
<!--  <th scope="col">Type</th>-->
<!--  <th scope="col">Name</th>-->
<!--  <th scope="col">ID</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody *ngIf="heroes != null">-->
<!--&lt;!&ndash;<tr *ngFor="let hero of heroes.slice((page - 1) * pageSize, (page - 1) * pageSize + pageSize)" routerLink="/detail/{{hero.scryfallId}}">&ndash;&gt;-->
<!--<tr *ngFor="let hero of heroesSlice">-->
<!--  <td>-->
<!--    <img [src]="hero.smallImageUri" class="mr-2" style="width: 50px">-->
<!--  </td>-->
<!--  <td>{{hero.typeLine}}</td>-->
<!--  <td>{{hero.name}}</td>-->
<!--  <td>{{hero.scryfallId}}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--<ngb-pagination [(page)]="page"-->
<!--                [pageSize]="pageSize"-->
<!--                [collectionSize]="collectionSize"-->
<!--                [boundaryLinks]="true"-->
<!--                [maxSize]="5"-->
<!--                [rotate]="true"></ngb-pagination>-->

<!--<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.scryfallId}}">
      <span class="badge">{{hero.typeLine}}</span>{{hero.name}}
    </a>
  </li>
</ul>-->

