<h2>All Magic Cards</h2>
<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
<div>
  <table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="image" sticky>
      <th *matHeaderCellDef mat-header-cell>Image</th>
      <td *matCellDef="let magicCard" mat-cell>
        <img [src]="magicCard.smallImageUri" class="mr-2" style="width: 50px">
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell>Type</th>
      <td *matCellDef="let magicCard" mat-cell>{{magicCard.typeLine}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let magicCard" mat-cell>{{magicCard.name}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell>ID</th>
      <td *matCellDef="let magicCard" mat-cell>{{magicCard.scryfallId}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky : true" mat-header-row></tr>
    <tr *matRowDef="let magicCard; columns: displayedColumns;" mat-row routerLink="/magiccard/{{magicCard.scryfallId}}"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 100, 200]"
                   showFirstLastButtons>
  </mat-paginator>
</div>

