<div style="margin-left: 20px">
  <!--suitable title for this page-->
  <h2 *ngIf="playerId == null && deckId == null">All magic cards</h2>
  <h2 *ngIf="playerId != null && deckId == null">{{player.name}}'s collection</h2>
  <h2 *ngIf="playerId != null && deckId != null">{{player.name}}'s deck: {{deck.deckName}}</h2>
</div>

<div class="mat-elevation-z8">
  <!--  table with pictures, names and types of the cards-->
  <table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="image" sticky>
      <th *matHeaderCellDef mat-header-cell>Image</th>
      <td *matCellDef="let magicCard" mat-cell>
        <img [src]="magicCard.smallImageUri" style="width: 50px">
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell>Type</th>
      <td *matCellDef="let magicCard" mat-cell>{{magicCard.typeLine}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let magicCard" mat-cell>{{magicCard.name}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns; sticky : true" mat-header-row></tr>
    <!--    make the table row link to a card detail page-->
    <tr *matRowDef="let magicCard; columns: displayedColumns;" mat-row
        routerLink="/magiccard/{{magicCard.scryfallId}}"></tr>
  </table>

  <!--  spinner that disappears when data is loaded-->
  <div *ngIf="dataSource.loading$ | async" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <!--  paginator-->
  <mat-paginator [pageSizeOptions]="[20, 100, 200]"
                 showFirstLastButtons>
  </mat-paginator>
</div>

<!--search for cards-->
<app-magiccards-search></app-magiccards-search>

