<div *ngIf="player">
  <h2>{{player.name}}'s Details</h2>

  <!--  table with no header to match the layout of app-decks-->
  <div class="mat-elevation-z8">
    <table [dataSource]="mainCollection" mat-table>
      <ng-container matColumnDef="maincollection">
        <td *matCellDef="let mainCollection" mat-cell>{{mainCollection.data}}</td>
      </ng-container>

      <!--    make the 'table row' link to the player's main collection-->
      <tr *matRowDef="let mainCollection; columns: ['maincollection'];" mat-row
          routerLink="/player/{{player.id}}/maincollection"></tr>
    </table>
  </div>

  <!--list of decks of this player-->
  <app-decks></app-decks>
</div>
